/* Display settings */
html {
	background: hsl(275deg,50%,82%);
	opacity: 0;
	font-family: 'Nunito', Helvetica, Roboto, sans-serif; /* In case Nunito doesn't load, the rest are fallbacks */
	font-size: 16pt; /* Standard font size for the web */
	padding: 2rem; /* Minimum amount of space at the edge */
	animation: fade-in 200ms 300ms both;
}

/* Import all the fonts */
@font-face {
	font-family: 'Nunito';
	font-weight: normal;
	font-display: swap;
	src: url('fonts/nunito-regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Nunito';
	font-weight: bold;
	font-display: swap;
	src: url('fonts/nunito-bold.ttf') format('truetype');
}

@keyframes fade-in {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

/* Makes padding consistent */
* {
	box-sizing: border-box;
}

nav {
	text-transform: uppercase;
}
nav a{
	display: block;
	color: black;
	font-size: .7rem;
	margin-bottom: 1rem;
}
nav::before{
	content: 'The Arcadian';
	font-size: 1.4rem;
	position: absolute;
	right: 2rem;
}

/* The amount of space around the text */
main {
	max-width: 64ch; /* Text can at most be 64 characters wide */
	margin: auto; /* Auto-expand margins, thereby centering itself */
}

h1, h2 {
	font-weight: normal;
	margin-top: 3rem;
	margin-bottom: 1rem;
}

h1 {
	text-align: center;
	font-size: 2rem;
}

h2 {
	border-top: 1px solid gray;
	padding-top: 1.5rem;
}

br {
	content: ''; display: block;
	margin-bottom: 1rem;
}

a {
	text-decoration: none;
	color: hsl(250deg,50%,50%);
	transition: 200ms;
}
a:hover {
	color: white;
	text-decoration: underline;
}
